.cover-simple-border {
  border: 2px solid #F0B558;
}

.cover-simple-border-inset {
  outline: 2px solid #F0B558;
  outline-offset: -12px; 
}

.cover-simple-border-inset-2 {
  outline: 2px solid #F0B558;
  outline-offset: -20px; 
}

.cover-custom-border-overlay::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-color: transparent;
  border-image-repeat: round;
  box-sizing: border-box;
}

.cover-svg-overlay-two::after {
  border-width: 115px;
  border-image-source: url('/borders/two.svg');
  border-image-slice: 100;
  border-image-width: 115px;
}

.cover-svg-overlay-three::after {
  border-width: 50px;
  border-image-source: url('/borders/three.svg');
  border-image-slice: 40;
  border-image-width: 50px;
}

.cover-custom-border-four::after {
  border-width: 55px;
  border-image-source: url('/borders/four.svg');
  border-image-slice: 25;
  border-image-width: 55px;
}

.cover-custom-border-five::after {
  border-width: 40px;
  border-image-source: url('/borders/five.svg');
  border-image-slice: 40;
  border-image-width: 40px;
}

.cover-custom-border-six {
  border-width: 75px;
  border-image-source: url('/borders/six.svg');
  border-image-slice: 35;
  border-image-width: 75px;
}