.cover-simple-border {
  border: 2px solid #F0B558;
}

.cover-simple-border-inset {
  outline: 2px solid #F0B558;
  outline-offset: -10px; 
}

.cover-svg-overlay-one::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 120px;
  border-color: transparent;
  border-image-source: url('/borders/one.svg');
  border-image-slice: 100;
  border-image-width: 120px;
  border-image-repeat: round;
  box-sizing: border-box;
}

.cover-svg-overlay-two {
  outline: 2px solid #F0B558;
  outline-offset: -22px; 
  border-image-source: url('/borders/two.svg');
  border-image-slice: 40 fill;
  border-image-width: 50px;
  border-image-repeat: round;
}

.cover-svg-overlay-three::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-width: 55px;
  border-color: transparent;
  border-image-source: url('/borders/three.svg');
  border-image-slice: 25;
  border-image-width: 55px;
  border-image-repeat: round;
  box-sizing: border-box;
}