@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,400;0,700;1,400;1,500&family=PT+Mono&display=swap');

@font-face {
  font-family: 'open-dyslexic';
  src: url('/fonts/open-dyslexic-3-regular.ttf');
  font-display: swap;
}