@font-face {
  font-family: 'josefin-sans';
  src: url('/fonts/josefin-sans-regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'pt-mono';
  src: url('/fonts/pt-mono-regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'open-dyslexic';
  src: url('/fonts/open-dyslexic-3-regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'baskerville';
  src: url('/fonts/baskerville-regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'baskerville';
  src: url('/fonts/baskerville-bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'baskerville';
  src: url('/fonts/baskerville-italic.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}