@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================= */

*:focus {
  @apply outline-none ring-2 ring-inset ring-nn-dark/70 dark:ring-nn-primary-dark;
}

*:disabled {
  @apply opacity-50 cursor-not-allowed;
}

::selection {
  @apply text-nn-light ring-nn-dark/70 dark:ring-nn-primary-dark;
}

:root, html {
  --nn-fade: #F5E1C9;
  --nn-typography: #1F130C;
}

html.dark {
  --nn-fade: #1F140C;
  --nn-typography: #F5E1C9;
}

body {
  @apply bg-nn-light dark:bg-nn-dark text-nn-dark dark:text-nn-light;
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;

  &[data-selected="true"] {
    @apply outline-none ring-2 ring-inset ring-nn-dark/70 dark:ring-nn-primary-dark;
  }

  &[data-disabled="true"] {
    @apply opacity-50 cursor-not-allowed;
  }
}

/* ============================================= */

:root {
  --chapter-text-size: 24px;
  --chapter-font: sans-serif;
  --chapter-leading: 1.5;
  --chapter-paragraph-spacing: 2rem 0px;
  --chapter-letter-spacing: 0px;
}

.nn-content-wrapper-background {
  background-color: var(--chapter-background-color, inherit);
}

.nn-content-wrapper {
  color: var(--chapter-text-color, inherit);
}

.nn-content-wrapper p, td, table {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  font-size: var(--chapter-text-size);
  font-family: var(--chapter-font);
  line-height: var(--chapter-leading);
  letter-spacing: var(--chapter-letter-spacing);
  margin: 2rem 0px;
}

.nn-content-wrapper p:not(:first-child):not(:last-child) {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  margin: var(--chapter-paragraph-spacing);
}

.nn-content-wrapper table {
  @apply py-4 border nn-border;
}

.nn-content-wrapper tr:nth-child(odd) {
  @apply nn-bg-background;
}

.nn-content-wrapper td {
  padding: 0.5rem 1rem;
}

/* ============================================= */

.nn-title {
  @apply font-serif text-4xl md:text-5xl;
}

.nn-interactive {
  @apply transition-colors disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}

.nn-interactive:hover {
  @apply outline-none opacity-70 ring-2 ring-inset ring-nn-dark/70 dark:ring-nn-primary-dark;
}

.nn-no-select {
  @apply transition-colors outline-none ring-0;
}

.nn-bg-foreground {
  @apply bg-nn-light text-nn-dark dark:bg-nn-dark dark:text-nn-light;
}

.nn-bg-primary {
  @apply text-nn-light bg-nn-primary-light dark:text-nn-dark dark:bg-nn-primary-dark;
}

.nn-bg-contrast {
  @apply bg-nn-dark text-nn-light dark:bg-nn-light dark:text-nn-dark;
}

.nn-bg-background {
  @apply bg-nn-secondary-light text-nn-dark dark:bg-nn-secondary-dark dark:text-nn-light;
}

.nn-divide {
  @apply divide-nn-dark/20 dark:divide-nn-light/20;
}

.nn-border {
  @apply border-nn-backdrop-dark/20 dark:border-nn-backdrop-light/20;
}

.nn-border-50 {
  @apply border-nn-dark/5 dark:border-nn-light/5;
}

.nn-text-secondary {
  @apply text-sm leading-snug text-inherit opacity-80;
}

@keyframes spin-top {
  0% {
    background-position: center top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: center top;
  }
  75% {
    background-position: left top;
  }
  100% {
    background-position: center top;
  }
}

.nn-bg-blurred-image {
  filter: blur(50px) brightness(1.2);
  height: calc(100% + 50px);
  @apply opacity-90;
  /* 
    force gpu accel for perf issues in safari.
  */
  transform: translate3d(0, -50px, 0); 
  background-size: 150%; 
  animation: spin-top 40s infinite steps(4, end);
  animation-timing-function: linear;
}

@keyframes spin-center {
  0% {
    background-position: center center;
  }
  25% {
    background-position: right center;
  }
  50% {
    background-position: center center;
  }
  75% {
    background-position: left center;
  }
  100% {
    background-position: center center;
  }
}

.nn-bg-blurred-emoji {
  filter: blur(60px) brightness(1.2);
  height: calc(100% + 50px);
  @apply opacity-60;
  /* 
    force gpu accel for perf issues in safari.
  */
  transform: translate3d(0, -50px, 0); 
  background-size: 200%; 
  animation: spin-center 45s infinite steps(4, end);
  animation-timing-function: linear;
}

.nn-shadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 5px;
}