@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============================================= */

.nn-ring {
  @apply z-10 rounded-sm outline-none ring-4 ring-nn-accent-light dark:ring-nn-accent-dark;
}

.bg-nn-base {
  @apply bg-nn-base-light dark:bg-nn-base-dark text-nn-base-dark dark:text-nn-base-light;
}

.bg-nn-base-invert {
  @apply bg-nn-base-dark dark:bg-nn-base-light text-nn-base-light dark:text-nn-base-dark;
}

.bg-nn-secondary {
  @apply bg-nn-secondary-light dark:bg-nn-secondary-dark text-nn-secondary-dark dark:text-nn-secondary-light;
}

.bg-nn-accent {
  @apply bg-nn-accent-light dark:bg-nn-accent-dark text-nn-accent-dark dark:text-nn-accent-light;
}

.text-nn-accent {
  @apply text-nn-accent-light dark:text-nn-accent-dark;
}

.nn-title {
  @apply font-serif text-4xl md:text-5xl;
}

.nn-detail {
  @apply text-sm leading-snug opacity-100 text-inherit;
}

.nn-interactive {
  @apply transition-colors disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-70;
}

.nn-interactive:hover {
  @apply outline-none opacity-70 nn-ring;
}

.nn-no-select {
  @apply outline-none ring-0 focus:ring-0 hover:ring-0;
}

.nn-shadow {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 70px 5px;
}

.nn-divide {
  @apply divide-nn-base-dark/[15%] dark:divide-nn-base-light/[15%];
}

.nn-border {
  @apply border-nn-base-dark/[15%] dark:border-nn-base-light/[15%];
}

.nn-placeholder {
  @apply placeholder:text-nn-secondary-dark/40 dark:placeholder:text-nn-secondary-light/40;
}

.nn-placeholder-invert {
  @apply placeholder:text-nn-secondary-light/60 dark:placeholder:text-nn-secondary-dark/60;
}

/* ============================================= */

*:focus {
  @apply nn-ring;
}

*:disabled {
  @apply opacity-50 cursor-not-allowed;
}

::selection {
  @apply nn-ring bg-nn-gold-dark text-nn-base-light;
}

:root, html {
  --nn-fade: #f5e1c9;
  --nn-typography: #20130d;
  --nn-primary: #de970b;
}

html.dark {
  --nn-fade: #20130d;
  --nn-typography: #F5E1C9;
  --nn-primary: #de970b;
}

body {
  @apply bg-nn-base;
}

[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;

  &[data-selected="true"] {
    @apply nn-ring;
  }

  &[data-disabled="true"] {
    @apply opacity-50 cursor-not-allowed;
  }
}

/* ============================================= */

:root {
  --chapter-text-size: 24px;
  --chapter-font: sans-serif;
  --chapter-leading: 1.5;
  --chapter-paragraph-spacing: 2rem 0px;
  --chapter-letter-spacing: 0px;
}

.nn-content-wrapper-background {
  background-color: var(--chapter-background-color, inherit);
}

.nn-content-wrapper {
  color: var(--chapter-text-color, inherit);
}

.nn-content-wrapper p, td, table {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  font-size: var(--chapter-text-size);
  font-family: var(--chapter-font);
  line-height: var(--chapter-leading);
  letter-spacing: var(--chapter-letter-spacing);
  margin: 2rem 0px;
}

.nn-content-wrapper p:not(:first-child):not(:last-child) {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  margin: var(--chapter-paragraph-spacing);
}

.nn-content-wrapper table {
  @apply py-4 border nn-border;
}

.nn-content-wrapper tr:nth-child(odd) {
  @apply bg-nn-secondary;
}

.nn-content-wrapper td {
  padding: 0.5rem 1rem;
}

/* ============================================= */

@keyframes spin-top {
  0% {
    background-position: center top;
  }
  25% {
    background-position: right top;
  }
  50% {
    background-position: center top;
  }
  75% {
    background-position: left top;
  }
  100% {
    background-position: center top;
  }
}

.nn-bg-blurred-image {  
  z-index: -1;
  height: calc(100% + 50px);
  transform: translate3d(0, -50px, 0); /* force gpu accel for perf issues in safari. */
  background-size: 150%; 
  animation: spin-top 40s infinite steps(4, end);
  animation-timing-function: linear;
  opacity: 90%;
}

html.light .nn-bg-blurred-image {
  filter: blur(70px) brightness(1) saturate(200%);
}

html.dark .nn-bg-blurred-image {
  filter: blur(50px) brightness(1.2);
}

@keyframes spin-center {
  0% {
    background-position: center center;
  }
  25% {
    background-position: right center;
  }
  50% {
    background-position: center center;
  }
  75% {
    background-position: left center;
  }
  100% {
    background-position: center center;
  }
}

.nn-bg-blurred-emoji {
  z-index: -1;
  height: calc(100% + 50px);
  transform: translate3d(0, -50px, 0); /* force gpu accel for perf issues in safari. */
  background-size: 200%; 
  animation: spin-center 180s infinite steps(4, end);
  animation-timing-function: linear;
  opacity: 60%;
}

html.light .nn-bg-blurred-emoji {
  filter: blur(70px) brightness(1) saturate(200%);
}

html.dark .nn-bg-blurred-emoji {
  filter: blur(60px) brightness(1.2);
}