@tailwind base;
@tailwind components;
@tailwind utilities;

.font-brand {
  font-family: 'Inknut Antiqua', sans-serif;
}

*:focus {
  @apply outline-none ring-2 ring-inset ring-pink-500;
}

*:disabled {
  @apply opacity-50 cursor-not-allowed;
}

::selection {
  @apply text-white bg-pink-600;
}

.interactive {
  @apply bg-zinc-100 hover:bg-white focus:bg-white 
    data-[active]:bg-white data-[state=open]:bg-white
    dark:bg-zinc-950 dark:hover:bg-zinc-900 dark:focus:bg-zinc-900 
    dark:data-[active]:bg-zinc-900 dark:data-[state=open]:bg-zinc-900
    disabled:pointer-events-none disabled:opacity-50
    transition-colors;
}

.interactive-primary {
  @apply bg-pink-600 hover:bg-pink-700 focus:bg-pink-700
    data-[active]:bg-pink-700 data-[state=open]:bg-pink-700
    text-white

    dark:bg-pink-800 dark:hover:bg-pink-900 dark:focus:bg-pink-900
    dark:data-[active]:bg-pink-900 dark:data-[state=open]:bg-pink-900
    disabled:pointer-events-none disabled:opacity-50
    transition-colors;
}

.background {
  @apply bg-zinc-100 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-100;
}

.background-border {
  @apply border shadow-sm border-zinc-400 dark:border-zinc-800;
}

.text-secondary {
  @apply text-sm leading-snug opacity-50 text-inherit dark:opacity-70;
}
