@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  @apply outline-none ring-2 ring-inset ring-green-500;
}

*:disabled {
  @apply cursor-not-allowed opacity-50;
}

::selection {
  @apply bg-green-600 text-white;
}

.nn-interactive {
  @apply transition-colors disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}

.nn-interactive:hover {
  @apply opacity-70 outline-none ring-2 ring-inset ring-green-500;
}

.nn-no-select {
  @apply outline-none ring-0 transition-colors;
}

.nn-bg-foreground {
  @apply bg-zinc-100 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-100;
}

.nn-bg-primary {
  @apply bg-green-600 text-white dark:bg-green-800 dark:text-white;
}

.nn-bg-contrast {
  @apply bg-zinc-950 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-950;
}

.nn-bg-background {
  @apply bg-white text-zinc-950 dark:bg-zinc-900 dark:text-zinc-100;
}

.nn-border {
  @apply border border-zinc-300 dark:border-zinc-700;
}

.nn-border-bottom {
  @apply border-b border-zinc-300 dark:border-zinc-700;
}

.nn-text-secondary {
  @apply text-sm leading-snug text-inherit opacity-60 dark:opacity-60;
}

[cmdk-item] {
  content-visibility: auto;

  cursor: pointer;
  /* height: 48px; */
  /* border-radius: 8px; */
  /* font-size: 14px; */
  /* display: flex; */
  /* align-items: center; */
  /* gap: 8px; */
  /* padding: 0 16px; */
  /* color: var(--gray11); */
  /* user-select: none;
  will-change: background, color;
  transition: all 150ms ease;
  transition-property: none; */

  &[data-selected="true"] {
    @apply outline-none ring-2 ring-inset ring-green-500;
  }

  &[data-disabled="true"] {
    @apply cursor-not-allowed opacity-50;
  }

  /* &:active {} */
}
