@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@font-face {
  font-family: 'open-dyslexic';
  src: url('/fonts/OpenDyslexic3-Regular.ttf');
  font-display: swap;
 }

 @font-face {
  font-family: 'josefin-sans';
  src: url('/fonts/JosefinSans.ttf');
  font-display: swap;
 }

.nn-title {
  font-family: josefin-sans;
}

:root {
  --chapter-text-size: 24px;
  --chapter-font: sans-serif;
  --chapter-leading: 1.5;
  --chapter-paragraph-spacing: 2rem 0px;
  --chapter-letter-spacing: 0px;
}

.nn-content-wrapper-background {
  background-color: var(--chapter-background-color, inherit);
}

.nn-content-wrapper {
  color: var(--chapter-text-color, inherit);
}

.nn-content-wrapper p, td, table {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  font-size: var(--chapter-text-size);
  font-family: var(--chapter-font);
  line-height: var(--chapter-leading);
  letter-spacing: var(--chapter-letter-spacing);
  margin: 2rem 0px;
}

.nn-content-wrapper p:not(:first-child):not(:last-child) {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  margin: var(--chapter-paragraph-spacing);
}

.nn-content-wrapper table {
  @apply py-4 border nn-border;
}

.nn-content-wrapper tr:nth-child(odd) {
  @apply nn-bg-background;
}

.nn-content-wrapper td {
  padding: 0.5rem 1rem;
}

*:focus {
  @apply outline-none ring-2 ring-inset ring-yellow-500;
}

*:disabled {
  @apply opacity-50 cursor-not-allowed;
}

::selection {
  @apply text-white bg-yellow-600;
}

.nn-interactive {
  @apply transition-colors disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}

.nn-interactive:hover {
  @apply outline-none opacity-70 ring-2 ring-inset ring-yellow-500;
}

.nn-no-select {
  @apply transition-colors outline-none ring-0;
}

.nn-bg-foreground {
  @apply bg-zinc-100 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-100;
}

.nn-bg-primary {
  @apply text-white bg-yellow-600;
}

.nn-bg-contrast {
  @apply bg-zinc-950 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-950;
}

.nn-bg-background {
  @apply bg-white text-zinc-950 dark:bg-zinc-900 dark:text-zinc-100;
}

.nn-divide {
  @apply divide-zinc-950/20 dark:divide-zinc-100/20;
}

.nn-border {
  @apply border-zinc-300 dark:border-zinc-700;
}

.nn-border-50 {
  @apply border border-zinc-300/50 dark:border-zinc-700/50;
}

.nn-border-bottom {
  @apply border-b border-zinc-300 dark:border-zinc-700;
}

.nn-text-secondary {
  @apply text-sm leading-snug text-inherit opacity-60 dark:opacity-60;
}

[cmdk-item] {
  content-visibility: auto;

  cursor: pointer;

  &[data-selected="true"] {
    @apply outline-none ring-2 ring-inset ring-yellow-500;
  }

  &[data-disabled="true"] {
    @apply opacity-50 cursor-not-allowed;
  }
}

.nn-bg-blurred {
  filter: blur(50px);
  transform: translate3d(0, 0, 0); /* force gpu accel for perf issues in safari  */
  @apply bg-center nn-bg-foreground opacity-70;
}

.nn-bg-blurred-2 {
  filter: blur(100px);
  transform: translate3d(0, 0, 0); /* force gpu accel for perf issues in safari  */
  @apply bg-center opacity-50 nn-bg-foreground;
}