@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chapter-text-size: 24px;
  --chapter-leading: 1.5;
  --chapter-paragraph-spacing: 2rem 0px;
}

.nn-content-wrapper p {
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  font-size: var(--chapter-text-size);
  line-height: var(--chapter-leading);
  margin: 2rem 0px;
}

.nn-content-wrapper p:not(:first-child):not(:last-child) {
  margin: var(--chapter-paragraph-spacing);
}

*:focus {
  @apply outline-none ring-2 ring-inset ring-green-500;
}

*:disabled {
  @apply opacity-50 cursor-not-allowed;
}

::selection {
  @apply text-white bg-green-600;
}

.nn-interactive {
  @apply transition-colors disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}

.nn-interactive:hover {
  @apply outline-none opacity-70 ring-2 ring-inset ring-green-500;
}

.nn-no-select {
  @apply transition-colors outline-none ring-0;
}

.nn-bg-foreground {
  @apply bg-zinc-100 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-100;
}

.nn-bg-primary {
  @apply text-white bg-green-600 dark:bg-green-800 dark:text-white;
}

.nn-bg-contrast {
  @apply bg-zinc-950 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-950;
}

.nn-bg-background {
  @apply bg-white text-zinc-950 dark:bg-zinc-900 dark:text-zinc-100;
}

.nn-divide {
  @apply divide-zinc-950/20 dark:divide-zinc-100/20;
}

.nn-border {
  @apply border border-zinc-300 dark:border-zinc-700;
}

.nn-border-bottom {
  @apply border-b border-zinc-300 dark:border-zinc-700;
}

.nn-text-secondary {
  @apply text-sm leading-snug text-inherit opacity-60 dark:opacity-60;
}

[cmdk-item] {
  content-visibility: auto;

  cursor: pointer;

  &[data-selected="true"] {
    @apply outline-none ring-2 ring-inset ring-green-500;
  }

  &[data-disabled="true"] {
    @apply opacity-50 cursor-not-allowed;
  }
}

.nn-bg-blurred {
  filter: blur(50px);
  @apply bg-center nn-bg-foreground opacity-70;
}

.nn-bg-blurred-2 {
  filter: blur(100px);
  @apply bg-center opacity-50 nn-bg-foreground;
}
