@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  @apply outline-none ring-2 ring-inset ring-pink-500;
}

*:disabled {
  @apply cursor-not-allowed opacity-50;
}

::selection {
  @apply bg-pink-600 text-white;
}

.nn-interactive {
  @apply transition-colors disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
}

.nn-interactive:hover {
  @apply opacity-70 outline-none ring-2 ring-inset ring-pink-500;
}

.nn-bg-foreground {
  @apply bg-zinc-100 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-100;
}

.nn-bg-primary {
  @apply bg-pink-600 text-white dark:bg-pink-800 dark:text-white;
}

.nn-bg-contrast {
  @apply bg-zinc-950 text-zinc-100 dark:bg-zinc-100 dark:text-zinc-950;
}

.nn-border {
  @apply border border-zinc-200 dark:border-zinc-800;
}

.nn-text-secondary {
  @apply text-sm leading-snug text-inherit opacity-60 dark:opacity-60;
}
